@model List<CategoryComponentVm>


<!-- Categories Section Begin -->
<section class="categories categories-grid spad">
    <div class="categories__post">
        <div class="container">
            <div class="categories__grid__post">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="breadcrumb__text">
                            <h2>Categories: <span>Recipes</span></h2>
                            <div class="breadcrumb__option">
                                <a href="#">Home</a>
                                <span>Recipes</span>
                            </div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="categories__list__post__item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__pic set-bg"
                                             data-setbg="@item.SecondaryImage">
                                            <div class="post__meta">
                                                <h4>@item.PublicationDay</h4>
                                                <span>@item.PublicationMonth</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="categories__post__item__text">
                                            <ul class="post__label--large">
                                                @foreach (var cat in item.Categories)
                                                {
                                                    <li>@cat</li>
                                                }
                                            </ul>
                                            <h3>
                                                <a href="/Post/@item.Url">@item.Title</a>
                                            </h3>
                                            <ul class="post__widget">
                                                <li>by <span>@item.UserName</span></li>
                                                <li>@item.ReadingTime min read</li>
                                                <li>@item.Comments Comments</li>
                                            </ul>
                                            <p>
                                                @item.Contents
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="categories__pagination">
                                    @if (ViewBag.CurrentPage > 1)
                                    {
                                        <a href="?page=@(ViewBag.CurrentPage - 1)">Previous</a>
                                    }

                                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                    {
                                        if (i == ViewBag.CurrentPage)
                                        {
                                            <a href="?page=@i" class="active">@i</a>
                                        }
                                        else
                                        {
                                            <a href="?page=@i">@i</a>
                                        }
                                    }

                                    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                    {
                                        <a href="?page=@(ViewBag.CurrentPage + 1)">Next</a>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="sidebar__item">
                            <div class="sidebar__about__item">
                                <div class="sidebar__item__title">
                                    <h6>About me</h6>
                                </div>
                                <img src="/frontassets/img/sidebar/sidebar-about.jpg" alt="">
                                <h6>Hi every one! I'm <span>Efkan Başer.</span></h6>
                                <p>
                                    This is a social food blogging page I made for you to share your recipes with a community that you can interact with. Hope you enjoy!
                                </p>
                                <a href="/Home/About" class="primary-btn">Read more</a>
                            </div>
                            <div class="sidebar__item__categories">
                                <div class="sidebar__item__title">
                                    <h6>Categories</h6>
                                </div>
                                <ul>
                                    <li><a href="#">Recipes <span>128</span></a></li>
                                    <li><a href="#">Dinner <span>32</span></a></li>
                                    <li><a href="#">Dessert <span>86</span></a></li>
                                    <li class="p-left"><a href="#">Smothie <span>25</span></a></li>
                                    <li class="p-left"><a href="#">Drinks <span>36</span></a></li>
                                    <li class="p-left"><a href="#">Cakes <span>15</span></a></li>
                                    <li><a href="#">Vegan <span>63</span></a></li>
                                    <li><a href="#">Weightloss <span>27</span></a></li>
                                </ul>
                            </div>
                            <div class="sidebar__subscribe__item">
                                <div class="sidebar__item__title">
                                    <h6>Subscribe</h6>
                                </div>
                                <p>Subscribe to our newsletter and get our newest updates right on your inbox.</p>
                                <form action="#">
                                    <input type="text" class="email-input" placeholder="Your email">
                                    <label for="s-agree-check">
                                        I agree to the terms & conditions
                                        <input type="checkbox" id="s-agree-check">
                                        <span class="checkmark"></span>
                                    </label>
                                    <button type="submit" class="site-btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
