@model List<HeroComponentVm>
 


<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 p-0">
                        <div class="hero__inside__item hero__inside__item--wide set-bg"
                             data-setbg="@Model[0].MainImage">
                            <div class="hero__inside__item__text">
                                <div class="hero__inside__item--meta">
                                    <span>@Model[0].PublicationDay</span>
                                    <p>@Model[0].PublicationMonth</p>
                                </div>
                                <div class="hero__inside__item--text">
                                    <ul class="label">
                                        @{
                                            foreach (string category in Model[0].Categories)
                                            {
                                                <li>@category</li>
                                            }
                                        }
                                    </ul>
                                    <h4>
                                        <a href="/Post/@Model[0].Url" style="color: #ffffff;">@Model[0].Title</a>
                                    </h4>
                                    <ul class="widget">
                                        <li>by <span>@Model[0].UserName</span></li>
                                        <li>@Model[0].ReadingTime min read</li>
                                        <li>@Model[0].Comments Comment</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6  p-0">
                        <div class="hero__inside__item hero__inside__item--small set-bg"
                             data-setbg="@Model[1].SecondaryImage">
                            <div class="hero__inside__item__text">
                                <div class="hero__inside__item--meta">
                                    <span>@Model[1].PublicationDay</span>
                                    <p>@Model[1].PublicationMonth</p>
                                </div>
                                <div class="hero__inside__item--text">
                                    <ul class="label">
                                        @{
                                            foreach (string category in Model[1].Categories)
                                            {
                                                <li>@category</li>
                                            }
                                        }
                                    </ul>
                                    <h5>
                                        <a href="/Post/@Model[1].Url" style="color: #ffffff;">@Model[1].Title</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="hero__inside__item hero__inside__item--small set-bg"
                             data-setbg="@Model[2].SecondaryImage">
                            <div class="hero__inside__item__text">
                                <div class="hero__inside__item--meta">
                                    <span>@Model[2].PublicationDay</span>
                                    <p>@Model[2].PublicationMonth</p>
                                </div>
                                <div class="hero__inside__item--text">
                                    <ul class="label">
                                        @{
                                            foreach (string category in Model[2].Categories)
                                            {
                                                <li>@category</li>
                                            }
                                        }
                                    </ul>
                                    <h5>
                                        <a href="/Post/@Model[2].Url" style="color: #ffffff;">@Model[2].Title</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6  p-0">
                        <div class="hero__inside__item set-bg" data-setbg="@Model[3].MainImage">
                            <div class="hero__inside__item__text">
                                <div class="hero__inside__item--meta">
                                    <span>@Model[3].PublicationDay</span>
                                    <p>@Model[3].PublicationMonth</p>
                                </div>
                                <div class="hero__inside__item--text">
                                    <ul class="label">
                                        @{
                                            foreach (string category in Model[3].Categories)
                                            {
                                                <li>@category</li>
                                            }
                                        }
                                    </ul>
                                    <h5>
                                        <a href="/Post/@Model[3].Url" style="color: #ffffff;">@Model[3].Title</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->